- if listings.present?
  %div{ class: "home-fluid-thumbnail-grid-narrow" }
    .home-fluid-thumbnail-grid
      = render partial: "homepage/grid_item", collection: listings, as: :listing, locals: { show_distance: false }
- else
  %div
    %p Your watch list is empty.
